body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

.upper{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
}

.menu{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.menu-item{
    display: flex;
    height: 16%;
    width: 70%;
    align-items: center;
     border-bottom: 1px solid #999;
} 


.goods-list{
    display: flex;
    flex-direction: column;
    width: 75%;
    overflow-y: auto;
}

.goods-item{
    display: flex;
    height: 25%;
    border-bottom: 1px solid #999;
}

.leftbox{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods-item img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.goods-item .rightbox{
    flex-direction: column;
    width: 70%;

}

.goods-info{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 70%;
}
.goods-title{
    font-weight: bold;
    font-size: 16px;
    margin: 8px;

}

.goods-desc {
    font-size: 13px;
    color: #160101;
    margin: 2px 0;
    height: 40%;
    overflow: hidden;
}

.goods-price{
    color: rgb(231, 124, 24);
    font-weight: bold;
}

.goods-sell {
    margin-top: 3px;
    font-size: 12px;
    color: #999;
}

.goods-confirm{
    display: flex;
    height: 30%;
    justify-content: space-between;
    padding: 0 20px;
}

/* footer */
.footer{
    display: flex;
    height: 50px;
    background-color: #3e4042;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
}

.footer-car-container{
    display: flex;
    width:70%;
}

.footer-car-container .footer-car{
    position: fixed;
    bottom: 15px;
    left: 20px;
    background-color: rgb(92, 139, 226);
    display: flex; /* 让内容在圆内水平和垂直居中 */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid #3e4042;
}
.footer-car svg{
    width: 1.5em;
    height: 1.5em;
}

.footer-car-badge{
    position: absolute;
    right:-5px;
    top: -1px;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background-color: red;
    display: flex; /* 让内容在圆内水平和垂直居中 */
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer-car-price{
    font-size: 19px;
}
.footer-price{
    padding-left: 100px;
}

.footer-car-container .footer-price .footer-car-tip{
    font-size: 11px;
    color: #999;
}

.footer-pay{
    display: flex;
    width:30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 185, 44);
}

.footer-pay a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 16px;
}

/* effect */
.active{
    display: block;
}
.inactive{
    display: none;
}

svg:hover{
    cursor: pointer;
}
