@font-face {
  font-family: "iconfont"; /* Project id 4667699 */
  src: url('iconfont.woff2?t=1724975392509') format('woff2'),
       url('iconfont.woff?t=1724975392509') format('woff'),
       url('iconfont.ttf?t=1724975392509') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-jianhao:before {
  content: "\e656";
}

.icon-jiahao:before {
  content: "\e638";
}

